*.tar.gz

*.exe
*.pdb
fennec/fennec
fennec/fennecd
fennec/fennec-cli
fennec/fennec-tx
fennec/fennec-wallet
fennec/test/test_fennec
fennec/test/test_fennec_fuzzy
fennec/qt/test/test_fennec-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
auxm4/config.guess
auxm4/config.sub
auxm4/depcomp
auxm4/install-sh
auxm4/ltmain.sh
auxm4/m4/libtool.m4
auxm4/m4/lt~obsolete.m4
auxm4/m4/ltoptions.m4
auxm4/m4/ltsugar.m4
auxm4/m4/ltversion.m4
auxm4/missing
auxm4/compile
auxm4/test-driver
config.log
config.status
configure
libtool
fennec/config/bitcoin-config.h
fennec/config/bitcoin-config.h.in
fennec/config/stamp-h1
fennec/obj
share/setup.nsi
share/qt/Info.plist

fennec/univalue/gen

fennec/qt/*.moc
fennec/qt/moc_*.cpp
fennec/qt/forms/ui_*.h

fennec/qt/test/moc*.cpp

fennec/qt/bitcoin-qt.config
fennec/qt/bitcoin-qt.creator
fennec/qt/bitcoin-qt.creator.user
fennec/qt/bitcoin-qt.files
fennec/qt/bitcoin-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!deps/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
!deps/Makefile
fennec-qt
fennec-Qt.app
background.tiff*

# Qt Creator
Makefile.am.user

# Unit-tests
Makefile.test
fennec-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_fennec.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!fennec/leveldb*/Makefile

/doc/doxygen/

fennecconsensus.pc
deploy/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist

osx_volname
dist/
*.background.tiff
